.profile-container {
    margin: 40px;
    padding: 20px;
    border: 2px dashed gray;
    border-radius: 10px;
    background-color: #D6EAF8;
    position: relative;
}

.edit-profile-button {
    position: absolute;
    right: 30px;
    top: 40px;
}