body {
    margin: 0; padding: 0;
    font-family: Helvetica, sans-serif;
    background-color: #F9FBFB;
}

.wrapper {
    background-image: linear-gradient(to right, #D5F5E3, #FADBD8);
    width: 76%;
    min-height: 100%; 
    margin: 0 auto;
    border: 1px solid gray;
    padding: 0 2%
}

.button {
    cursor: pointer;
    text-decoration: none;
    padding: 5px 10px;
    font-size: 12px;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px rgb(150,150,150);
}

.blue:hover {background-color: #85C1E9}
.danger:hover {background-color: #F1948A}
  
.button:active {
    box-shadow: 0 2px rgb(100,100,100);
    transform: translateY(1px);
}
.blue {
    background-color: #21618C;
}
.danger {
    background-color: #CB4335
}