body {
    margin: 0; padding: 0;
    font-family: Helvetica, sans-serif;
    background-color: #F9FBFB;
}

.wrapper {
    background-image: linear-gradient(to right, #D5F5E3, #FADBD8);
    width: 80%;
    min-height: 100%; 
    margin: 0 auto;
    border: 1px solid gray;
    padding: 0 10px;
}