{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'allPosts/style.css' %}" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">

{% include "main/navigationbar.html" %}

<div class='wrapper'>
    {% if flagged.posts or flagged.comments or flagged.replies %}
        <h1>Flagged Posts:</h1>
        <table class="postsTable">
            <tr>
                <th >Post</th>
                <th width="130px">Posted By</th>
                <th width="40px">Flags</th>
                <th width="75px">Type</th>
                <th width="180px">Action</th>
            </tr>
    {% endif %}
    {% comment %} FLAGGED POSTS {% endcomment %}
    {% if flagged.posts %}
        {% for post in flagged.posts %}
            <tr {% if post.postDisabled %}class='disabled'{% endif %}>
                <td><a href="{% url 'post:show-post' post.id %}">{{post.postTitle}}</a>{% if post.postDisabled %}<strong><i> - Currently Disabled (Not shown in the forums)</i></strong>{% endif %}</td>
                <td><a href="{% url 'main:profile' post.postedBy %}" >{{post.postedBy.user.first_name}} {{post.postedBy.user.last_name}}</a></td>
                <td>{{post.postFlags.count}}&nbsp;&nbsp;<i class="fas fa-flag"></i></td>
                <td>Post</td>
                <td align='center' class='flagged-posts-buttons'>
                    <div class='buttons-div'>
                        <div class='button-div'>
                            <a href="{% url 'post:delete-post' post.pk %}" style='background:#21618C' name='delete-button'><i class="fas fa-trash-alt"></i></a>
                            <span>Delete</span>
                        </div>
                        <div class='button-div'>
                            {% if post.postDisabled %}
                                <a href="{% url 'post:disable-post' post.pk %}" style='background:green' name='enable-button'><i class="far fa-check-circle"></i></a>
                                <span>Enable </span>
                            {% else %}
                                <a href="{% url 'post:disable-post' post.pk %}" style='background:#CB4335' name='disable-button'><i class="fas fa-ban"></i></a>
                                <span>Disable </span>
                            {% endif %}
                        </div>
                        <div class='button-div'>
                            <a href="{% url 'post:remove-post-flags' post.pk %}"  style='background:#DC7633' name='flags-button'><i class="fas fa-flag"></i></a>
                            <span>Remove Flags</span>
                        </div>
                    </div>
                </td>
            </tr>
        {% endfor %}
    {% endif %}
    {% comment %} FLAGGED COMMENTS {% endcomment %}
    {% if flagged.comments %}
        {% for comment in flagged.comments %}
            <tr {% if comment.commentDisabled %}class='disabled'{% endif %}>
                <td><a href="{% url 'post:show-post' comment.commentOnPost.pk %}">{{comment.commentContent}}</a>{% if comment.commentDisabled %}<strong><i> - Currently Disabled (Not shown in the forums)</i></strong>{% endif %}</td>
                <td><a href="{% url 'main:profile' comment.commentBy %}" >{{comment.commentBy.user.first_name}} {{comment.commentBy.user.last_name}}</a></td>
                <td>{{comment.commentFlags.count}}&nbsp;&nbsp;<i class="fas fa-flag"></i></td>
                <td>Comment</td>
                <td align='center' class='flagged-posts-buttons'>
                    <div class='buttons-div'>
                        <div class='button-div'>
                            <a href="{% url 'comment:delete-comment' comment.commentOnPost.pk comment.pk %}" style='background:#21618C'><i class="fas fa-trash-alt"></i></a>
                            <span>Delete</span>
                        </div>
                        <div class='button-div'>
                            {% if comment.commentDisabled %}
                                <a href="{% url 'comment:disable-comment' comment.pk %}" style='background:green'><i class="far fa-check-circle"></i></a>
                                <span>Enable</span>
                            {% else %}
                                <a href="{% url 'comment:disable-comment' comment.pk %}" style='background:#CB4335'><i class="fas fa-ban"></i></a>
                                <span>Disable</span>
                            {% endif %}
                        </div>
                        <div class='button-div'>
                            <a href="{% url 'comment:remove-comment-flags' comment.pk %}"  style='background:#DC7633'><i class="fas fa-flag"></i></a>
                            <span>Remove Flags</span>
                        </div>
                    </div>
                </td>
            </tr>
        {% endfor %}
    {% endif %}
    {% comment %} FLAGGED REPLIES {% endcomment %}
    {% if flagged.replies %}
        {% for reply in flagged.replies %}
            <tr {% if reply.replyDisabled %}class='disabled'{% endif %}>
                <td><a href="{% url 'post:show-post' reply.replytoComment.commentOnPost.pk %}">{{reply.replyContent}}</a>{% if reply.replyDisabled %}<strong><i> - Currently Disabled (Not shown in the forums)</i></strong>{% endif %}</td>
                <td><a href="{% url 'main:profile' reply.replyBy %}" >{{reply.replyBy.user.first_name}} {{reply.replyBy.user.last_name}}</a></td>
                <td>{{reply.replyFlags.count}}&nbsp;&nbsp;<i class="fas fa-flag"></i></td>
                <td>Reply</td>
                <td align='center' class='flagged-posts-buttons'>
                    <div class='buttons-div'>
                        <div class='button-div'>
                            <a href="{% url 'reply:delete-reply' reply.replytoComment.commentOnPost.pk reply.pk %}" style='background:#21618C'><i class="fas fa-trash-alt"></i></a>
                            <span>Delete </span>
                        </div>
                        <div class='button-div'>
                            {% if reply.replyDisabled %}
                                <span>Enable</span><a href="{% url 'reply:disable-reply' reply.pk %}" style='background:green'><i class="far fa-check-circle"></i></a>
                            {% else %}
                                <span>Disable</span><a href="{% url 'reply:disable-reply' reply.pk %}" style='background:#CB4335'><i class="fas fa-ban"></i></a>
                            {% endif %}
                        </div>
                        <div class='button-div'>
                            <a href="{% url 'reply:remove-reply-flags' reply.pk %}"  style='background:#DC7633'><i class="fas fa-flag"></i></a>
                            <span>Remove Flags</span>
                        </div>
                    </div>
                </td>
            </tr>
        {% endfor %}
    {% endif %}

    {% if flagged.posts or flagged.comments or flagged.replies %}
        </table>
    {% else %}
        <h1>Great News! There are no flagged posts.</h1>
    {% endif %}
</div>

<script type='text/javascript' src="{% static 'allPosts/post.js' %}"></script>