<html>
<head>
</head>
<body>
    <h1>Dear Member of Staff,</h1>
    <h2>A {{discussion_type}} on Our Intelligent Q&#38;A has been reported!</h2>
    <p>As a member of staff, you have the ability to either delete this {{discussion_type}}, disable it or remove any flags.</p>
    <h2 style='background:#D6FFDE; padding:10px 20px; border:1px solid green; border-radius:4px;'>{{discussion_type|title}} By: {{discussion_by}}</h2>
    <h4 style='background:#D6EAF8; padding:10px 20px; border:1px solid #21618C; border-radius:4px;'>{{discussion_type|title}}: {{discussion}}</h4>
    <p style='color:#CB4335;'>Click the link to view the reported {{discussion_type}} on the site: <a href="http://localhost:8000/flagged-posts/">Flagged Posts</a>.</p>

    <br/><br/>
    <hr/>
    <h5>Have you received this email in error?<h5/>
    <h5>You are receiving this email because you are signed up for the Intelligent Q&#38;A Forums. 
    If you are not the intended recipient and you believe you are receiving this in error, please delete this email and inform the sender immediately.<h5/>
</body>
</html>
