<html>
<head>
</head>
<body>
    <h1>Dear {{discussion_by}},</h1>
    <h2>Your {{discussion_type}} on Our Intelligent Q&#38;A has been reported!</h2>
    <h2 style='background:#D6EAF8; padding:10px 20px; border:1px solid #21618C; border-radius:4px;'>{{discussion_type|title}}: {{discussion}}</h2>
    <p>Staff members will now review this {{discussion_type}} and will take action.</p>
    <p style='color:#CB4335;'>Please remember not to post anything harmful or offensive to others, or your account will be disabled.
</p>
    <br/><br/>
    <hr/>
    <h5>Have you received this email in error?<h5/>
    <h5>You are receiving this email because you are signed up for the Intelligent Q&#38;A Forums. 
    If you are not the intended recipient and you believe you are receiving this in error, please delete this email and inform the sender immediately.<h5/>
</body>
</html>
