.new-post-form {
    width: 70%;
    background-color: #CFF0DA;
    border: 1px dashed gray;
    border-radius: 8px;
    padding: 50px 30px;
    margin: 50px auto;
    position: relative;
}

.new-post-label {
    width: 30%;
    padding: 2% 3%;
    text-align: right;
    color: green;
    background-color: #FADBD8; 
    border: 2px dotted green; 
    border-radius: 5px;
    font-weight: bold;
}

.new-post-field {
    border: 1px solid black; 
    border-radius: 5px;
    padding: 0;
    /* margin: 0; */
}
.new-post-field input, textarea{
    font-size: 15px;
    width: 100%;
    height: 100%;
    margin: 0;
}

.submit-button {
    margin: 14px;
    width: 100px;
    float: right;
    border-radius: 4px;
    padding: 3px 10px;
    color: white;
    background-color:#21618C;
    box-shadow: 0 2px rgb(150,150,150);
}

.submit-button:active {
    box-shadow: 0 2px rgb(100,100,100);
    transform: translateY(1px);
}

.submit-button:hover {
    cursor: pointer;
}