<table class='comment card '>
    <td class='vote-up-and-down'>
        <i class="fas fa-angle-up"></i>
        <p>0</p>
        <i class="fas fa-angle-down"></i>
    </td>

    {% include "post/widgets/name-photo-card.html" with writerName=comment.commentBy %}

    <td class='post-content'>
        <p>{{comment.commentContent}}</p>

        {% url 'post:edit-comment' post.pk comment.pk as the_edit_url %}
        {% url 'post:delete-comment' post.pk comment.pk as the_delete_url %}
        {% include "post/widgets/edit-delete-dropdown.html" with edit_url=the_edit_url delete_url=the_delete_url %}

        <div class='buttons-and-date-fixed-bottom'>
            <p style='margin-bottom: -5px; padding: 0;'>{{comment.commentNumberOfLikes}} Likes</p>
            <hr/>
            <button class='button blue'>Like <i class="far fa-thumbs-up"></i></button>
            <a class='button blue' href='{{comment.pk}}/add-reply/'>Reply <i class="fas fa-reply"></i></a>
            <button class='button danger'>Report <i class="fas fa-ban"></i></button>
            <p>{{comment.commentDate}}</p>
        </div>
    </td>
</table>