{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'allPosts/style.css' %}" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">

{% include "post/navigationbar.html" %}

<div class='wrapper'>
    {% if flagged.posts or flagged.comments or flagged.replies %}
        <h1>Flagged Posts:</h1>
        <table class="postsTable">
            <tr>
                <th>Post</th>
                <th>Discussion Started By</th>
                <th>Number of Flags</th>
                <th>Type</th>
            </tr>
    {% endif %}
    {% if flagged.posts %}
        {% for post in flagged.posts %}
            <tr>
                <td><a href="{% url 'post:showPost' post.id %}">{{post.postTitle}}</a></td>
                <td><a href="{% url 'post:profile' post.postedBy %}" >{{post.postedBy.first_name}} {{post.postedBy.last_name}}</a></td>
                <td>{{post.postFlags.count}}&nbsp;&nbsp;<i class="fas fa-flag"></i></td>
                <td>Post</td>
            </tr>
        {% endfor %}
    {% endif %}

    {% if flagged.comments %}
        {% for comment in flagged.comments %}
            <tr>
                <td><a href="{% url 'post:showPost' comment.commentOnPost.pk %}">{{comment.commentContent}}</a></td>
                <td><a href="{% url 'post:profile' comment.commentBy %}" >{{comment.commentBy.first_name}} {{comment.commentBy.last_name}}</a></td>
                <td>{{comment.commentFlags.count}}&nbsp;&nbsp;<i class="fas fa-flag"></i></td>
                <td>Comment</td>
            </tr>
        {% endfor %}
    {% endif %}

    {% if flagged.replies %}
        {% for reply in flagged.replies %}
            <tr>
                <td><a href="{% url 'post:showPost' reply.replytoComment.commentOnPost.pk %}">{{reply.replyContent}}</a></td>
                <td><a href="{% url 'post:profile' reply.replyBy %}" >{{reply.replyBy.first_name}} {{reply.replyBy.last_name}}</a></td>
                <td>{{reply.replyFlags.count}}&nbsp;&nbsp;<i class="fas fa-flag"></i></td>
                <td>Reply</td>
            </tr>
        {% endfor %}
    {% endif %}

    {% if flagged.posts or flagged.comments or flagged.replies %}
        </table>
    {% else %}
        <h2>Great News! There are no flagged posts.</h2>
    {% endif %}
</div>