{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'navigationbar/style.css' %}" />
<link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">

<div class='navigationbar'>
    <ul>
        <li><a href="#home" class="active" >Intelligent Q&#38;A Forums</a></li>
        <li><a href="posts/">All Posts</a></li>
        <li><a href="#news">Topics</a></li>
        <li style="float:right"><a href="#contact"><i class="fas fa-user"></i>&nbsp; My Profile</a></li>
        <li style="float:right"><a href="add-post/"><i class="fas fa-plus"></i>&nbsp; Add New Post</a></li>
    </ul>
</div>