{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'navigationbar/style.css' %}" />
<link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">

<div class='navigationbar'>
    <ul>
        <li><a href="/" class="logo" >Intelligent Q&#38;A Forums</a></li>
        <li><a href="{% url 'post:index'%}">All Posts</a></li>
        <li><a href="{% url 'post:topics'%}">Topics</a></li>
        <li><a href="{% url 'post:add-post'%}"><i class="fas fa-plus"></i>&nbsp; Add New Post</a></li>
        <li style="float:right"><a href="/admin"><i class="fas fa-unlock-alt"></i>&nbsp; Admin</a></li>
        <li style="float:right"><a href="#profile"><i class="fas fa-user"></i>&nbsp; My Profile</a></li>

        {% if user.is_authenticated %}
            <li style="float:right"><a href="{% url 'post:logout' %}"><i class="fas fa-sign-out-alt"></i>&nbsp; Logout</a></li>
        {% else %}
            <li style="float:right"><a href="{% url 'post:user_login' %}"><i class="fas fa-sign-in-alt"></i>&nbsp; Login</a></li>
        {% endif %}

    </ul>
</div>