{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'newPost/style.css' %}" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">

{% include "main/navigationbar.html" %}

<div class='wrapper'>
    <h2>Add a New Post</h2>
    <hr/>
    <form name="postForm" method='post' class='new-post-form' enctype='multipart/form-data'>
        {% csrf_token %}
        <center>
        {% for message in messages %}
            <div class='error-messages-box'>
                {{ message }}
             </div>
        {% endfor %}
        <table class='form-table'>
            <tr>
                <td valign='top' class='new-post-label'><label>Post Title:</label></td>
                <td class='new-post-field'>
                    <input type="text" name="postTitle" value='{{postTitle}}' maxlength="80" required>
                </td>
            </tr>
            <tr id='postTopicID'>
                <td valign='top' class='new-post-label'><label class='postTopic'>Post Topic:</label></td>
                <td class='new-post-field'>
                    <input type="text" name="postTopic" maxlength="150">
                </td>
            </tr>
            <tr>
                <td valign='top' class='new-post-label'><label>Post:</label></td>
                <td class='new-post-field'>
                    <textarea name="postContent" cols="40" rows="10" maxlength="350" required>{{postContent}}</textarea>
                </td>
            </tr>
            <tr>
                <td valign='top' class='new-post-label'><label>Add an Image:</label></td>
                <td class='new-post-field'>
                    <input type="file" name="postImage"></input>
                </td>
            </tr>
            <tr>
                <td valign='top' class='new-post-label'><label>Do The Magic:</label</td>
                <td class=''>
                    <input id='checkboxAuto' type="checkbox" name="postAutoClassification" onclick='toggleCheckBox()'>
                    <b>Automatically Classify My Post</b>
                </td>
            </tr>
        </table>
        <center/>
        <button type='submit' class='submit-button'>Submit</button>
    </form>
</div>

<script type='text/javascript' src="{% static 'newPost/javascript.js' %}"></script>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js">
</script>

<script>
    // this script is to show the loader while the classification algorithm runs 
    $(function(){
        $("button").click(function(){
            var postTitle = document.forms["postForm"]["postTitle"].value;
            var postContent = document.forms["postForm"]["postContent"].value;
            var postcheckbox = document.forms["postForm"]["postAutoClassification"].checked;
            if (postTitle.length > 0 && postContent.length > 0 && postcheckbox){
                $(this).after("<div class='loadingLayer'><div class='loadingDiv'><div class='loader'></div><h3>Classifying you post... This may take up to 1 minute.</h3></div></div>").fadeIn();  
            }
        });
    });
</script>