{% load staticfiles %}
<table class='post card'>
    <td class='vote-up-and-down'>
        {% if user.is_authenticated %}
            {% if logged_in_user_profile in post.postVotersUp.all  %}
                <a name='vote-up-post' href="{% url 'post:vote-up-post' post.pk %}" style='color:green'><i class="fas fa-angle-up"></i></a>
            {% else %}
                <a name='vote-up-post' href="{% url 'post:vote-up-post' post.pk %}"><i class="fas fa-angle-up"></i></a>
            {% endif %}
            
            <p name='postNumberOfVotes'>{{post.postNumberOfVotes}}</p>
            
            {% if logged_in_user_profile in post.postVotersDown.all  %}
                <a name='vote-down-post' href="{% url 'post:vote-down-post' post.pk %}" style='color:#CB4335'><i class="fas fa-angle-down"></i></a>
            {% else %}
                <a name='vote-down-post' href="{% url 'post:vote-down-post' post.pk %}"><i class="fas fa-angle-down"></i></a>
            {% endif %}
        {% else %}
            <p>{{post.postNumberOfVotes}}</p>
        {% endif %}
    </td>
    
    {% include "main/widgets/name-photo-card.html" with user_profile=post.postedBy %}

    <td class='post-content'>
        <p style='word-break: break-all;'>{{post.postContent}}</p>

        {% if post.postImage %}
            <div class='postImageContainer' onmouseover='fadeOutDateAndButtons()' onmouseout='fadeInDateAndButtons()'>
                <img class='postImage' src='{{ post.postImage.url }}' />   
            </div>
        {% endif %}

        {% if user.is_authenticated %}
            {% if user.username == post.postedBy.user.username %}
                {% url 'post:edit-post' post.pk as the_edit_url %}
                {% url 'post:delete-post' post.pk as the_delete_url %}
                {% include "main/widgets/edit-delete-dropdown.html" with edit_url=the_edit_url delete_url=the_delete_url type="post-ellipsis" %}
            {% endif %}
        {% endif %}
        
        <div class='buttons-and-date-fixed-bottom'>
            <a href="{% url 'post:like-list-post' post.pk %}" name='post-likes' class='likes'>{{post.postLikes.count}} Like{% if post.postLikes.count > 1 or post.postLikes.count == 0 %}s{% endif %}
                {% if post.postLikes.count > 2 and logged_in_user_profile in post.postLikes.all %}
                    (You and {{post.postLikes.count|add:'-1'}} others).
                {% elif post.postLikes.count > 1 and logged_in_user_profile in post.postLikes.all  %}
                    (You and {{post.postLikes.count|add:'-1'}} other).
                {% elif post.postLikes.count == 1 and logged_in_user_profile in post.postLikes.all %}
                    (You).
                {% endif %}
            </a>
            <hr/>
            {% if user.is_authenticated %}
                {% if logged_in_user_profile in post.postLikes.all %}
                    <span class='link-spaces'><a class='comment-link' style='background:green' name='post-like-button' href='like/'>Like <i class="fas fa-thumbs-up"></i></a></span>
                {% else %}
                    <span class='link-spaces'><a class='comment-link' name='post-like-button' href='like/'>Like <i class="far fa-thumbs-up"></i></a></span>
                {% endif %}
                {% if post.postClosed == False %}
                    <span class='link-spaces'><a class='comment-link' href='add-comment/'>Comment <i class="far fa-comment"></i></a></span>
                {% endif %}
                <span class='button-spaces'><button name='report-post' class='button danger' onclick="report('post', {{post.pk}})">Report <i class="fas fa-ban"></i></button></span>
                {% if logged_in_user_profile in post.postFlags.all %}<span style='color:#CB4335' name='reported-post'><strong><i>- You have reported this post.</i></strong></span>{% endif %}
            {% else %}
                <p>To comment on a question, you must be logged in. <a class='button blue' href="{% url 'main:user-login' %}?next={{post.pk}}">Click here to Login</a></p>
            {% endif %}
            <p>{{post.postDate}}</p>
        </div>
    </td>
</table>

<script type='text/javascript' src="{% static 'allPosts/post.js' %}"></script>
