<table class='post card'>
    <td class='vote-up-and-down'>
        <i class="fas fa-angle-up"></i>
        <p>0</p>
        <i class="fas fa-angle-down"></i>
    </td>
    
    {% include "post/widgets/name-photo-card.html" with author=post.postedBy %}

    <td class='post-content'>
        <p>{{post.postContent}}</p>

        {% if user.is_authenticated %}
            {% if user.username == post.postedBy.username or user.is_superuser %}
                {% url 'post:edit-post' post.pk as the_edit_url %}
                {% url 'post:delete-post' post.pk as the_delete_url %}
                {% include "post/widgets/edit-delete-dropdown.html" with edit_url=the_edit_url delete_url=the_delete_url %}
            {% endif %}
        {% endif %}
        
        <div class='buttons-and-date-fixed-bottom'>
            <p style='margin-bottom: -5px; padding: 0;'>{{post.postNumberOfLikes}} Likes</p>
            <hr/>
            {% if user.is_authenticated %}
                <button class='button blue'>Like <i class="far fa-thumbs-up"></i></button>
                <a class='button blue' href='add-comment/'>Comment <i class="far fa-comment"></i></a>
                <button class='button danger'>Report <i class="fas fa-ban"></i></button>
            {% else %}
                <p>To comment on a question, you must be logged in. <a class='button blue' href="{% url 'post:user_login' %}">Click here to Login</a></p>
            {% endif %}
            <p>{{post.postDate}}</p>
        </div>
    </td>
</table>