<table class='reply card '>

    {% include "post/widgets/name-photo-card.html" with writerName=reply.replyBy %}

    <td class='post-content'>
        <p>{{reply.replyContent}}</p>

        {% url 'post:edit-reply' post.pk reply.pk as the_edit_url %}
        {% url 'post:delete-reply' post.pk reply.pk as the_delete_url %}
        {% include "post/widgets/edit-delete-dropdown.html" with edit_url=the_edit_url delete_url=the_delete_url %}

        <div class='buttons-and-date-fixed-bottom'>
            <p style='margin-bottom: -5px; padding: 0;'>{{reply.replyNumberOfLikes}} Likes</p>
            <hr/>
            <button class='button blue'>Like <i class="far fa-thumbs-up"></i></button>
            <button class='button danger'>Report <i class="fas fa-ban"></i></button>
            <p>{{reply.replyDate}}</p>
        </div>
    </td>
</table>