{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'singlePost/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'newPost/style.css' %}" />

<div class='wrapper'>
    <h2>Edit Your Reply</h2>
    <hr/>
    <form action='' method='post' class='new-post-form'>
        {% csrf_token %}
        <table >
            {% for field in form %}
                <tr>
                    <td valign='top' class='new-post-label'><label>{{field.label_tag}}</label></td>
                    <td class='new-post-field'>{{field}}</td>
                </tr>
            {% endfor %}
        </table>
        <button type='submit' class='submit-button'>Submit</button>
    </form>
</div>