<table class='reply card '>

    {% include "post/widgets/name-photo-card.html" with author=reply.replyBy %}

    <td class='post-content'>
        <p>{{reply.replyContent}}</p>

        {% if user.is_authenticated %}
            {% if user.username == reply.replyBy.username or user.is_superuser %}
                {% url 'post:edit-reply' post.pk reply.pk as the_edit_url %}
                {% url 'post:delete-reply' post.pk reply.pk as the_delete_url %}
                {% include "post/widgets/edit-delete-dropdown.html" with edit_url=the_edit_url delete_url=the_delete_url %}
            {% endif %}
        {% endif %}

        <div class='buttons-and-date-fixed-bottom'>
            {% comment %} <p style='margin-bottom: -5px; padding: 0;'>{{reply.replyNumberOfreplyLikes}} replyLikes</p> {% endcomment %}
            <p style='margin-bottom: -5px; padding: 0;'>{{reply.replyLikes.count}} Like{% if reply.replyLikes.count > 1 or reply.replyLikes.count == 0 %}s{% endif %}
            {% if reply.replyLikes.count > 2 and user in reply.replyLikes.all %}
                (You and {{reply.replyLikes.count|add:'-1'}} others).</p>
            {% elif reply.replyLikes.count > 1 and user in reply.replyLikes.all  %}
                (You and {{reply.replyLikes.count|add:'-1'}} other).</p>
            {% elif reply.replyLikes.count == 1 and user in reply.replyLikes.all %}
                (You).
            {% endif %}
            <hr/>
            {% if user.is_authenticated %}
                {% if user in reply.replyLikes.all %}
                    <a class='comment-link' style='background:green' href='{{reply.pk}}/reply-like/'>Like <i class="fas fa-thumbs-up"></i></a>
                {% else %}
                    <a class='comment-link' href='{{reply.pk}}/reply-like/'>Like <i class="far fa-thumbs-up"></i></a>
                {% endif %}
                <button class='button danger'>Report <i class="fas fa-ban"></i></button>
            {% endif %}
            <p>{{reply.replyDate}}</p>
        </div>
    </td>
</table>