{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'login/style.css' %}" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">

<div class='login-box'>
    <h1>Reset Your Password</h1>
    <p>Enter your new password:</p>
    <hr/><br/><br/>
    <form action="{% url 'main:reset-password-confirm' %}" method='POST'>
        {% csrf_token %}
        <label for='password'>Password:</label>
        <input type='password' name='password' placeholder='Enter your password'/><br/>
        <label for='password_confirm'>Confirm Password:</label>
        <input type='password' name='password_confirm' placeholder='Re-enter your password'/><br/>
        <input type='hidden' name='user' value="{{user}}"/>
        {% if error %}
            <p style='width:70%' class='error'>{{error}}</p>
        {% endif %}
        {% if reset_user_auth %}
            <p style='width:70%' class='success'>{{reset_user_auth}}</p>
        {% endif %}
        <input type='submit' value='Reset Password'/>
    </form>
</div>
