{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'login/style.css' %}" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">

<div class='login-box'>
    <h1 style='float:left'>Reset Your Password</h1>
    <p><a style='float:right; margin-top:10px' class='button danger' href="{% url 'main:index' %}" > &#x226A; Back To The Posts</a></p>
    <div style='clear:both'></div>
    <p>Enter your email address and the temp code sent to you via email:</p>
    <hr/><br/><br/>
    <form action="{% url 'main:reset-password-auth' %}" method='POST'>
        {% csrf_token %}
        <label for='email'>Email:</label>
        <input type='email' name='email' placeholder='Enter your Email'/><br/>
        <label for='temp_code'>Temp Code:</label>
        <input type='text' name='temp_code' placeholder='Enter your Temp Code'/><br/>
        {% if error %}
            <p style='width:70%' class='error'>{{error}}</p>
        {% endif %}
        {% if reset_password_email_sent %}
            <p style='width:70%' class='success'>{{reset_password_email_sent}}</p>
        {% endif %}
        <input type='submit' value='Confirm'/>
    </form>
</div>
