<table class='reply card '>

    {% include "main/widgets/name-photo-card.html" with user_profile=reply.replyBy %}

    <td class='post-content'>
        <p>{{reply.replyContent}}</p>

        {% if user.is_authenticated %}
            {% if user.username == reply.replyBy.user.username %}
                {% url 'reply:edit-reply' post.pk reply.pk as the_edit_url %}
                {% url 'reply:delete-reply' post.pk reply.pk as the_delete_url %}
                {% include "main/widgets/edit-delete-dropdown.html" with edit_url=the_edit_url delete_url=the_delete_url type="reply-ellipsis" %}
            {% endif %}
        {% endif %}

        <div class='buttons-and-date-fixed-bottom'>
            <a href="{% url 'reply:like-list-reply' reply.pk %}" name='reply-likes' class='likes'>{{reply.replyLikes.count}} Like{% if reply.replyLikes.count > 1 or reply.replyLikes.count == 0 %}s{% endif %}
                {% if reply.replyLikes.count > 2 and logged_in_user_profile in reply.replyLikes.all %}
                    (You and {{reply.replyLikes.count|add:'-1'}} others).
                {% elif reply.replyLikes.count > 1 and logged_in_user_profile in reply.replyLikes.all  %}
                    (You and {{reply.replyLikes.count|add:'-1'}} other).
                {% elif reply.replyLikes.count == 1 and logged_in_user_profile in reply.replyLikes.all %}
                    (You).
                {% endif %}
            </a>
            <hr/>
            {% if user.is_authenticated %}
                {% if logged_in_user_profile in reply.replyLikes.all %}
                    <a class='comment-link' style='background:green' name='reply-like-button' href='{{reply.pk}}/reply-like/'>Like <i class="fas fa-thumbs-up"></i></a>
                {% else %}
                    <a class='comment-link' name='reply-like-button' href='{{reply.pk}}/reply-like/'>Like <i class="far fa-thumbs-up"></i></a>
                {% endif %}
                <button name='report-reply' class='button danger' onclick="report('reply', {{reply.pk}})">Report <i class="fas fa-ban"></i></button>
                {% if logged_in_user_profile in reply.replyFlags.all %}<span style='color:#CB4335' name='reported-reply'><strong><i>- You have reported this reply.</i></strong></span>{% endif %}
            {% endif %}
            <p>{{reply.replyDate}}</p>
        </div>
    </td>
</table>