.postsTable {
    width: 96%;
    margin: 20px 2%;
    border-collapse: collapse;
}

.postsTable td, .postsTable th {
    border: 1px solid lightgray;
    padding: 10px;
}

.postsTable tr:nth-child(even){background-color: rgb(230, 230, 230);}

.postsTable tr:nth-child(odd){background-color: white;}

.postsTable tr:hover {background-color: lightgray;}

.postsTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #0F84E8;
    color: white;
}

a:link {
    text-decoration: none;
    color: #2D86C1
}

a:hover {
    text-decoration: underline;
}

.postsTable a:visited {
    color: #2D86C1
}