{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'post-comment-reply/style.css' %}" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">

{% include "post/navigationbar.html" %}

<div class='wrapper'>
    <h1>Are you sure you want to {% if comment.commentDisabled %}enable{% else %}disable{% endif %} this comment?</h1>
    <div class='post-title'>
        <h2>{{comment.commentContent}}</h2>
        <p class='discussion-postedBy-and-date'>By: {{comment.commentBy}} on {{comment.commentDate}}</p>
    </div>

    <a class='button blue' href="{% url 'post:flagged-posts' %}">Back</a>
    <a class='button blue' href="{% url 'comment:disable-comment-confirm' comment.pk %}">{% if comment.commentDisabled %}Enable{% else %}Disable{% endif %}</a>

</div>