<td class='name-and-photo-card'>
    <table class='name-and-photo-text'>
        <tr>
            <td align='center'>
                {% if user_profile.profilePicture %}
                    <img src="{{user_profile.profilePicture.url}}" width='70'/>
                {% else %}
                    <i class="fas fa-user-circle my-avatar"></i>
                {% endif %}
            </td>
        </tr>
    </table>
    <h3>
        <a href="{% url 'main:profile' user_profile.user %}" >
            {% if user_profile.user.first_name %}
                {{user_profile.user.first_name}} {{user_profile.user.last_name}}
            {% else %}
                {{user_profile.user.username}}
            {% endif %}
        </a>
    </h3>
    <p style='font-size:14px;'>Joined on {{user_profile.dateJoined|date:"M d, Y"}}</p>
    <table style='width:100%; color:gray'>
        <tr>
            <td align='center'>{{user_profile.numOfPostsCommentsReplies}} <i class="far fa-edit"></i></td>
            <td align='center'>{{user_profile.numberOfLikes}} <i class="far fa-thumbs-up"></i></td>
        </tr>
        <tr>
            <td  align='center'>Posts</td>
            <td align='center'>Likes</td>
        </tr>
    </table>
</td>
