<td class='name-and-photo-card'>
    <table class='name-and-photo-text'>
        <tr>
            <td align='center'>
                {% if user_profile.profile_picture %}
                    <img src="{{user_profile.profile_picture.url}}" width='70'/>
                {% else %}
                    <i class="fas fa-user-circle my-avatar"></i>
                {% endif %}
            </td>
        </tr>
    </table>
    <h3><a href="{% url 'main:profile' user_profile.user %}" >{{user_profile.user.first_name}} {{user_profile.user.last_name}}</a></h3>
    <p style='font-size:14px;'>Joined on {{user_profile.date_joined|date:"M d, Y"}}</p>
    <table style='width:100%; color:gray'>
        <tr>
            <td align='center'>{{user_profile.num_of_posts_comments_replies}} <i class="far fa-edit"></i></td>
            <td align='center'>{{user_profile.num_of_likes}} <i class="far fa-thumbs-up"></i></td>
        </tr>
        <tr>
            <td  align='center'>Posts</td>
            <td align='center'>Likes</td>
        </tr>
    </table>
</td>
