{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'login/style.css' %}" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">

<div class='login-box'>
    <h1>Login</h1>
    <hr/><br/><br/>
    <form action="{% url 'main:user_login' %}" method='POST'>
        {% csrf_token %}
        <label for='username'>Username:</label>
        <input type='text' name='username' placeholder='Enter your username'/><br/>
        <label for='password'>Password:</label>
        <input type='password' name='password' placeholder='Enter your password'/><br/><br/>
        {% if error %}
            <p class='error'>{{error}}</p>
        {% endif %}
        {% if activation_success %}
            <p class='success'>{{activation_success}}</p>
        {% else %}
            <p style="float:left">Logging in for the first time? <a href="{% url 'main:activate' %}">Activate my account</a></p>
            <p style="float:left">Forgot your username? <a href="{% url 'main:resend_username' %}">Email me my username</a></p>
            <p style="float:left">Forgot your password? <a href="{% url 'main:reset_password' %}">Reset my password</a></p>
        {% endif %}
        <input type='submit' value='Login'/>
    </form>
</div>
