{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'navigationbar/style.css' %}" />
<link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">

<div class="navigationbar">
    <a href="{% url 'main:index'%}" class='logo wide-screen-logo'>Intelligent Q&#38;A Forums</a>
    <a href="{% url 'main:index'%}" class='logo narrow-screen-logo'>IQ&#38;AF</a>
    <a href="{% url 'main:topics'%}" class='wide-screen'><i class="fas fa-book"></i>&nbsp;<span>Topics</span></a>
    <a href="{% url 'main:topics'%}" class='narrow-screen'><i class="fas fa-book icon-only"></i></a>
    {% comment %} staff view (including admins)  {% endcomment %}
    {% if user.is_staff %}
        <a href="{% url 'main:flagged-posts'%}" class='wide-screen'><i class="fas fa-exclamation-circle"></i>&nbsp; Flagged Posts</a>
        <a href="{% url 'main:flagged-posts'%}" class='narrow-screen'><i class="fas fa-exclamation-circle icon-only"></i></a>
    {% endif %}
    {% comment %} admin only view {% endcomment %}
    {% if user.is_superuser %}
        <a href="{% url 'main:staff'%}" class='wide-screen'><i class="fas fa-users"></i></i>&nbsp; Users</a>
        <a href="{% url 'main:staff'%}" class='narrow-screen'><i class="fas fa-users icon-only"></i></i></a>
    {% endif %}
    {% comment %} logged in users views (including staff and admin) {% endcomment %}
    {% if user.is_authenticated %}
        <a style="float:right" href="{% url 'post:add-post'%}" class='wide-screen'><i class="fas fa-plus"></i>&nbsp; Add New Post</a>
        <a style="float:right" href="{% url 'post:add-post'%}" class='narrow-screen'><i class="fas fa-plus icon-only"></i></a>
    {% endif %}

    {% if user.is_authenticated %}
        <div style="float:right" class="dropdown">
            <button class="dropbtn wide-screen">Hey,&nbsp;
            <strong>
                {% if user.first_name %}
                    {{user.first_name}}
                {% else %}
                    User
                {% endif %}
            </strong>!&nbsp; <i class="fa fa-caret-down"></i></button>
            <button class="dropbtn narrow-screen"><i class="fas fa-ellipsis-h icon-only"></i></button>
            <div class="dropdown-content">
                <a href="{% url 'main:profile' user %}" class='wide-screen'><i class="fas fa-user"></i>&nbsp; My Profile</a>
                <a href="{% url 'main:profile' user %}" class='narrow-screen'><i class="fas fa-user icon-only"></i></a>
                <a href="{% url 'main:user-logout' %}" class='wide-screen'><i class="fas fa-sign-out-alt"></i>&nbsp; Logout</a>
                <a href="{% url 'main:user-logout' %}" class='narrow-screen'><i class="fas fa-sign-out-alt icon-only"></i></a>
            </div>
        </div> 
    {% else %}
        <a style="float:right" href="{% url 'main:register' %}" class='wide-screen'><i class="fas fa-user-plus"></i>&nbsp; Sign Up</a>
        <a style="float:right" href="{% url 'main:user-login' %}" class='wide-screen'><i class="fas fa-sign-in-alt"></i>&nbsp; Login</a>
        <a style="float:right" href="{% url 'main:register' %}" class='narrow-screen'><i class="fas fa-user-plus icon-only"></i>&nbsp;</a>
        <a style="float:right" href="{% url 'main:user-login' %}" class='narrow-screen'><i class="fas fa-sign-in-alt icon-only"></i>&nbsp;</a>
    {% endif %}

</div>
