{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'profile/style.css' %}" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">

{% include "main/navigationbar.html" %}

<div class='wrapper'>
    <div class='profile-container'>
        <h1>Profile:</h1>
        {% if logged_in_user.username == visited_user_profile.user.username %}
            <a class='edit-profile-button button blue' href={% url 'main:edit-profile' visited_user_profile.user %}>Edit Profile</a>
        {% endif %}
        <hr/>
        <br/>
        <center>
            <i style='font-size:100px;' class="fas fa-user-circle my-avatar"></i>
            <h2>{{visited_user_profile.user.first_name}} {{visited_user_profile.user.last_name}}</h2>
            <h4>Username: {{visited_user_profile.user.username}}</h4>
            <p>Joined on: {{visited_user_profile.date_joined|date:"M d, Y"}}</p>
            <table>
                <tr>
                    <th width='140px'>
                        <h1>{{visited_user_profile.num_of_posts_comments_replies}}</h1>
                    </th>
                    <th width='140px'>
                        <h1>{{visited_user_profile.num_of_likes}}</h1>
                    </th>
                </tr>
                <tr>
                    <th width='140px'>
                        <h4>Number of Posts, Comments and Replies</h4>
                    </th>
                    <th width='140px'>
                        <h4>Likes on Posts, Comments and Replies</h4>
                    </th>
                </tr>
            </table>
        </center>
    </div>
</div>