<html>
<head>
</head>
<body>
    <h1>Hey, {{user.first_name}}!</h1>
    <p>You requested your username to enter our site.</p>

    <h4 style='background:#D6EAF8; padding:10px 20px; border:1px solid #21618C; border-radius:4px;'>Your username: {{user.username}}</h4>

    <p style='color:#CB4335;'>Click the link to access the login page <a href="http://localhost:8000/login/"> Log In</a></p>

    <br/><br/>
    <hr/>
    <h5>Have you received this email in error?<h5/>
    <h5>You are receiving this email because you are signed up for the Intelligent Q&#38;A Forums. 
    If you are not the intended recipient and you believe you are receiving this in error, please delete this email and inform the sender immediately.<h5/>
</body>
</html>