<html>
<head>
</head>
<body>
    <h1>Hey, {{user.first_name}}!</h1>
    <h2>Welcome to Intelligent Q&#38;A Forums! </h2>
    <p>Thank you for signing up.</p>
    <p style='color:#CB4335;'>Your username:</p>
    <h4 style='background:#D6EAF8; padding:10px 20px; border:1px solid #21618C; border-radius:4px;'>{{user.username}}</h4>
    <p style='color:#CB4335;'>To activate your account please enter the following activation code in the <a href="http://localhost:8000/activate/">activation page</a>:</p>
    <h4 style='background:#D6EAF8; padding:10px 20px; border:1px solid #21618C; border-radius:4px;'>Activation Code: {{activation_code}}</h4>
</body>
</html>