{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'allPosts/style.css' %}" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">

{% include "main/navigationbar.html" %}

<div class='wrapper'>
    {% if posts %}
        <h1>{{topic}}:</h1>
        <table class="postsTable">
            <tr>
                <th></th>
                <th>Post</th>
                <th>Discussion Started By</th>
                <th>Comments</th>
            </tr>
            {% for post in posts %}
                <tr>
                    <td>{% if post.postNumberOfVotes < 0 %}<i class="fas fa-angle-double-down"></i>{% else %}<i class="fas fa-angle-double-up"></i>{% endif %} <strong>{{post.postNumberOfVotes}}</strong></td>
                    <td><a href="{% url 'post:show-post' post.id %}">{{post.postTitle}}</a></td>
                    <td><a href="{% url 'main:profile' post.postedBy %}" >{{post.postedBy.user.first_name}} {{post.postedBy.user.last_name}}</a></td>
                    <td>{{post.postNumberOfComments}}&nbsp;&nbsp;<i class="far fa-comment-alt"></i></td>
                </tr>
            {% endfor %}
        </table>

    {% else %}
        <h1>Sorry, No Posts Available.</h1>
    {% endif %}
</div>