.post-topic {
    margin: 0 auto;
    background-color: #85C1E9;
    border: 1px solid #2E86C1;
    width: 80%;
}
.post-topic h3 {
    margin: 8px 12px;
}
.post-topic a{
    color: #21618C;
    text-decoration: none;
}
.post-topic a:hover{
    color: #21618C;
    text-decoration: underline;
}

.post-title {
    width: 100%;
    padding-left: 20px;
}

.discussion-postedBy-and-date {
    color: gray;
    margin-top: -10px;
}

.card {
    position: relative;
    border-bottom: 1px solid #21618C;
    border: 1px solid gray;
    margin: 15px 0px;
    padding: 5px 50px 5px 0px;
}
.post { width: 100%; }
.comment { width: 95%; margin-left: 5%;}
.reply { width: 85%; margin-left: 15%;}

.vote-up-and-down {
    width: 50px;
    color: #21618C;
    text-align: center;
    font-size: 40px;
}
.vote-up-and-down p{
    padding: 0; 
    margin: 10px 0; 
}
.vote-up-and-down a{
    color: #21618C;
}
.vote-up-and-down a:hover{
    cursor: pointer;
    color: #85C1E9;
}

.name-and-photo-card {
    background-color:lightgrey;
    border-radius: 6px;
    width: 180px;
    text-align: center;
    padding: 0;
}
.name-and-photo-text {
    color: #2E86C1; 
    margin: 5px;
}

.my-avatar {
    font-size: 3.5em;
}

.name-and-photo-text a {
    color: #21618C;
    text-decoration: none;
}

.name-and-photo-text a:visited {
    color: #21618C;
    text-decoration: none;

}
.post-content {
    position: relative;
    vertical-align: top;
    padding: 10px 10px 110px 10px;
}

.ellipsis-top-right {
    position: absolute;
    top: -10px;
    right: -30px;
}

.drop-down:hover .drop-down-top-right-corner {
    display: block;
}

.drop-down-top-right-corner {
    display: none;
    position: absolute;
    top: 10px;
    right: -30px;
    background-color: white;
    width: 120px;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);
}

.drop-down-top-right-corner a {
    text-decoration: none;
    display: block;
    color: #2E86C1; 
    padding: 12px 16px;
    font-size: 16px;
    background: #F9FBFB
}

.delete-button {
    display: block;
    width: 100%;
    font-size: 16px;
    text-align: left;
    background: #F9FBFB;
    color: #2E86C1; 
    padding: 12px 16px;
    border: none;
}

.drop-down-top-right-corner a:hover, .delete-button:hover {
    background: #D5F5E3;
    cursor: pointer;
}

.buttons-and-date-fixed-bottom {
    position: absolute;
    color: gray;
    bottom: -10;
    left: 10;
}

.comment-link {
    cursor: pointer;
    text-decoration: none;
    padding: 5px 10px;
    font-size: 13px;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px rgb(150,150,150);
    background-color: #21618C;
}
.comment-link:hover { 
    background-color: #85C1E9
}
