.login-box{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45%;
    min-height: 300px;
    background-image: linear-gradient(to right, #D5F5E3, #FADBD8);
    border: 2px dashed gray;
    border-radius: 10px;
    padding: 0 2% 55px 2%;
}

.register-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45%;
    min-height: 565px;
    background-image: linear-gradient(to right, #D5F5E3, #FADBD8);
    border: 2px dashed gray;
    border-radius: 10px;
    padding: 0 2% 50px 2%;
}

label {
    padding: 14px;
    width: 20%;
    display: inline-block;
}

input[type=text], input[type=password], input[type=email] {
    width: 65%;
    padding: 10px 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

input[type=submit], .login-button {
    position: absolute;
    bottom: 20px;
    right: 22px;
    border: none;
    background-color: #3E7A9B;
    color: white;
    font-size: 14px;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #85C1E9
}

.error {
    margin: 10px;
    background-image: linear-gradient(to right bottom, #F1948A, #FADBD8);
    border: 1px solid #CB4335;
    border-radius: 4px;
    padding: 5px 20px;
    float:left
}
.success {
    margin: 10px;
    background-image: linear-gradient(to right bottom, #90FC87, #CFF0DA);
    border: 1px solid green;
    border-radius: 4px;
    padding: 5px 20px;
    float:left
}

.login-box > form > p > a { color: #3E7A9B; text-decoration: none; }
.login-box > form > p > a:visited { color: #3E7A9B; }
.login-box > form > p > a:hover { text-decoration: underline; }

@media (max-width: 1050px) {
    .login-box{ width: 60%; } 
    .register-box { width: 60%; } 
}
@media (max-width: 750px) {
    .login-box{ width: 80%; } 
    .register-box{ width: 80%; } 
}