{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'post-comment-reply/style.css' %}" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">

{% include "main/navigationbar.html" %}

<div class='wrapper'>
    <h1>Are you sure you want to delete your account?</h1>
    <p>This cannot be undone. Once you've pressed the delete button you will delete your account permanently!</p>
    <hr />
    <br />
    <a class='button blue' href="{% url 'main:profile' logged_in_user %}" >Go Back</a>
    <a class='button danger' href="{% url 'main:delete-profile-confirm' %}" >DELETE ACCOUNT PERMANENTLY</a>
</div>