{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'login/style.css' %}" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">

<div class='login-box'>
    <h1 style='float:left'>Login</h1>
    <p><a style='float:right; margin-top:10px' class='button danger' href="{% url 'main:index' %}" > &#x226A; Back To The Posts</a></p>
    <div style='clear:both'></div>
    <hr/><br/><br/>
    <form action="{% url 'main:user-login' %}" method='POST'>
        {% csrf_token %}
        <label for='username'>Username:</label>
        <input type='text' name='username' placeholder='Enter your username'/><br/>
        <label for='password'>Password:</label>
        <input type='password' name='password' placeholder='Enter your password'/><br/><br/>
        
        {% comment %} This field stores the next url to redirect to if there is one  {% endcomment %}
        <input type='hidden' name='next_url' value={{next_url}}/>
        
        {% if error %}
            <p class='error'>{{error}}</p>
        {% endif %}
        {% if activation_success %}
            <p class='success'>{{activation_success}}</p>
        {% else %}
            <div style='clear: both'></div>
            <p>Logging in for the first time? <a href="{% url 'main:activate' %}">Activate my account</a></p>
            <p>Forgot your username? <a href="{% url 'main:resend-username' %}">Email me my username</a></p>
            <p>Forgot your password? <a href="{% url 'main:reset-password' %}">Reset my password</a></p>
            <p>Don't have an account yet? <a href="{% url 'main:register' %}">Sign up here</a></p>
        {% endif %}
        <input type='submit' name='login-button' value='Login'/>
    </form>
</div>
