<html>
<head>
</head>
<body>
    <h1>Hey, {{user.first_name}}!</h1>
    <h2>Welcome to Intelligent Q&#38;A Forums! </h2>
    <p>Thank you for signing up.</p>
    <p style='color:#CB4335;'>Your username:</p>
    <h4 style='background:#D6EAF8; padding:10px 20px; border:1px solid #21618C; border-radius:4px;'>{{user.username}}</h4>
    <p style='color:#CB4335;'>To activate your account please enter the following activation code in the <a href="http://osamaaboukoura.pythonanywhere.com/activate/">activation page</a>:</p>
    <h4 style='background:#D6EAF8; padding:10px 20px; border:1px solid #21618C; border-radius:4px;'>Activation Code: {{activationCode}}</h4>

    <br/><br/>
    <hr/>
    <h5>Have you received this email in error?<h5/>
    <h5>You are receiving this email because you are signed up for the Intelligent Q&#38;A Forums. 
    If you are not the intended recipient and you believe you are receiving this in error, please delete this email and inform the sender immediately.<h5/>
</body>
</html>